/*
	jo-flatness.css
*/

accent-bg = #3498DB
//control-bg = #BDC3C7
control-bg = #ecf0f1
control-off = #7F8C8D

// border-color = #BDC3C7
border-color = #7f8c8d

input-radius = 0
control-radius = .5em
border-width = 1px

jobutton
	background-color: accent-bg
	border-radius: control-radius

joslider,
jotoggle
	background-color: control-bg

josliderthumb
	background-color: accent-bg
	border-color: control-bg

jotoggle > *
	background-color: control-off
	border-color: border-color
	border: none

jotoggle.on > *
	background-color: accent-bg

jomenu > *.selected,
jolist > *.selected,
jooption > *.selected
	background-color: accent-bg

jooption
	border-radius: control-radius
	border: border-width solid border-color
	background-color: control-bg

	> *
		border-right: border-width solid border-color

	> *:last-child
		border-right: none

jooption.vertical
	display: block !important
	border-radius: control-radius

	> jooptionitem
		border-bottom: none
		line-height: 1.2
		height: auto
		min-height: 3em
		padding: 1em .5em
		border-right: none
		border-bottom: border-width solid border-color

	> jooptionitem:last-child
		border-bottom: none

joexpando
	background: background-color

	> *:first-child
		border-radius: control-radius
		background-color: accent-bg
		border: none
		color: #fff
		line-height: 3em
		position: relative

	> joexpandotitle:after
		display: block
		position: absolute
		right: 0
		top: 0
		min-height: 3em
		min-width: 3em
		content: ">"
		text-align: center
		font-family: "jo-flattery"
		transform-origin: 50% 50% 0
		transition: transform .2s ease-out
		color: #fff

	> joexpandocontent
		transition: opacity .2s ease-out
		opacity: 0
		padding: 1em 0

joexpando > *:last-child
	border-radius: 0
	border: border-width solid border-color

joexpando.open > *:first-child
	border-radius: control-radius control-radius 0 0

joexpando.open > joexpandotitle:after
	transform: rotate(90deg)

joexpando.open > joexpandocontent
	opacity: 1

joselect > *:first-child
	border: none

joexpandotitle,
joselectitle
	border: none

joinput,
input,
jotextarea,
textarea
	height: 3em
	background-color: control-bg
	border-radius: input-radius
	border-width: border-width
	border-color: border-color

joinput:focus,
input:focus,
jotextarea:focus,
textarea:focus
	border-color: accent-bg
