/*
	jo-flatness.css
*/

accent-bg = #3498DB
control-bg = #BDC3C7
control-off = #7F8C8D

border-color = #BDC3C7

input-radius = 0
control-radius = .5em
border-width = 2px

jobutton
	background-color: accent-bg
	border-radius: control-radius

joslider,
jotoggle
	background-color: control-bg

josliderthumb
	background-color: accent-bg
	border-color: control-bg

jotoggle > *
	background-color: control-off
	border-color: control-bg
	border: none

jotoggle.on > *
	background-color: accent-bg

jomenu > *.selected,
jolist > *.selected,
jooption > *.selected
	background-color: accent-bg

jooption
	border-radius: control-radius
	border-color: border-color
	border-width: border-width

jooption > *
	background-color: control-bg
	border-color: control-bg
	border-width: border-width

jooption > *:first-child
	border-radius: control-radius 0 0 control-radius

jooption > *:last-child
	border-radius: 0 control-radius control-radius 0
	border-width: border-width
	border-right: border-width solid border-color

joinput,
input,
jotextarea,
textarea
	border-radius: input-radius
	border-width: border-width
	border-color: border-color



