body {
	background: #fff;
	font: normal 100% "Georgia", "Palatino", "Times New Roman", "Times";
/*	font: normal 100% "Gill Sans", "Verdana", "Arial"; */
	line-height: 1.6;
	padding: 0 1em;
	color: #383838;
	font-size: 15px;
	margin: 0 auto;
	max-width: 700px;
}
