/*
	Your app can have its own CSS. Here, we're tweaking Jo default theme
	stuff for demonstration purposes.
*/

#hide {
	display: none;
}

.iconz {
	display: block;
	height: 80px;
}

.iconz joflexrow {
	height: 80px;
}

.iconz joflexrow > * {
	height: 80px;
	width: 120px;
	background: #ff0;
	margin-right: 5px;
	-webkit-box-flex: 0;
}

jocard {
	padding-bottom: 35px;
}

jotoolbar {
	padding: 10px;
	background: rgba(0, 0, 0, .8);
}

jotoolbar jobutton {
	padding: 5px;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-top: none;
	border-bottom: none;
	border-left: none;
	background-color: rgba(0, 0, 0, .8);
}

jotoolbar jobutton:last-child {
	margin-right: 0;
	border-right: none;
}

.refresh {
	background-color: rgba(13, 168, 48, .8);
}

.refresh img {
	-webkit-animation-name: refreshRotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes refreshRotate {
  from {-webkit-transform: rotate(360deg);}
  to {-webkit-transform: rotate(0deg);}
}

/*
jotitle {
	text-align: left;
	padding: 10px 10px;
	font-size: 15px;
	background: #99c url(../../css/shade.png) repeat-x;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	border-bottom: 1px solid rgba(0, 0, 0, .8);
	border-top: 1px solid rgba(255, 255, 255, .4);
	text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
	font-weight: bold;
	color: #000;
}
*/

.about img {
	display: block;
	margin: 0 auto 10px auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.hideui { display: none; }

jotoolbar jobutton.focus, jotoolbar jobutton.selected {
	padding: 5px;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-top: none;
	border-bottom: none;
	border-left: none;
	background-color: rgba(0, 0, 0, .8);
}

/*
input, textarea {
	font-size: 15px;
}
*/

/*
jopopup {
	background-image: url(../../css/subtle-shiny.png);
	background-color: #224;
	color: rgba(255, 255, 255, .8);
	border-color: #888;
	-webkit-box-shadow: 0 0 30px #000;
}

jopopup jotitle {
	text-shadow: 0 0 3px rgba(0, 0, 0, .8);
	text-align: center;
	border-color: rgba(255, 255, 255, .2);
}

jopopup jogroup {
	background-color: rgba(255, 255, 255, .4);
}
*/