jostack, jostackscroller > * {
	overflow: hidden;
	overflow-y: scroll;
}

jostack > *, jostackscroller > * > * {
}

jostack > .next, jostackscroller > * > .next {
	display: none;
}

jostack > .prev, jostackscroller > * > .prev {
	display: none;
}
